       
.nav {
    width: 100vw;
    padding: 18px 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    /* gap: 30px; */
    position: fixed;
    z-index: 4;
    background: white;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 4px rgb(236, 235, 235);
    box-sizing: border-box;
    

}

body {
    background-color: rgb(251, 251, 250);
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}



div.filter{
    position:fixed;
    top:13vh;
    left:1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding:44px 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(224, 224, 224);
    color:rgb(130, 130, 130);
    background: white;
    z-index:4;
    border-radius:4px;
    font-size:18px;
    float:left;

}

div.color{
    position:fixed;
    top:13vh;
    right:1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding:44px 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(224, 224, 224);
    color:rgb(130, 130, 130);
    background: white;
    z-index:4;
    border-radius:4px;
    font-size:18px;
    float:right;

}

.filter i , .color i{
    margin-right:14px;
}

.color i{
    margin-left:12px;
}

.graph{

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding:12px 14px;
    border-radius:4px;
    margin-left:2vw;

}

.graph i{
    margin-right:14px;
}

.filter .i{
    color:rgb(255, 61, 93);
    /* font-size: 111px; */
}

.chart{
    margin-right:3vw;
}

.chart i{
    margin-right:14px;
}


.toggle{

    visibility:hidden;

}

.togglecolor{

     color:rgb(255, 61, 93);

}

.item{
    padding-top:15px;
    padding-bottom:14px;
    padding-left:24px;
    padding-right:24px;


}

.nav .graph:hover{
    cursor:pointer;
}

.nav .graph:active{
    transform:scale(0.97);
}


.dd i{
    color:rgb(255, 61, 93);
    margin-right:5px;
}

.color .item:nth-child(1) i
{
    color:lightgreen;
}

.color .item:nth-child(2) i
{
    color:#d6eaf8;
}

.color .item:nth-child(3) i
{
    color:#f8c471;
}




a{
    text-decoration: none;
}

.filter a{

    color:rgb(130, 130, 130);

}




button{
    background-color:rgb(255, 61, 93);
    color:white;
    font-size:17px;
    padding:12px 44px;
    border:none;
    border-radius:4px;
}


.img{
    color:rgb(255, 61, 93);
    font-style: italic;
    font-size: 24px;
}




h3{

    width:90%;
    word-wrap: break-word;

}

button{
    float:right;
    margin-top: -24px;
    z-index:1;
    color:white;
}



.rotate{
    transform: rotate(180deg);
    font-size:19px;
}

.dd{

    font-size:19px;

}




.item:hover{
    background-color:rgb(248, 244, 244);
    cursor:pointer;
}

.item:active
{
    
    color: rgb(255, 61, 93);
}

button:hover{
    cursor:pointer;
}



@media (max-width:1200px) and (min-width:1001px)
{

   


h3{

    width:97%;
    word-wrap: break-word;

}

}

@media (max-width:1000px) and (min-width:551px)
{

  


h3{

    width:97%;
    word-wrap: break-word;

}

}

@media (max-width:550px) 
{


h3{

width:100%;
word-wrap: break-word;

}


}


@media (min-width:190px) and (max-width:600px)
{

.container>h2 {

font-size:16px;
} 

.nav {

padding: 18px 6px;
justify-content:space-evenly; 
}


div.filter{ 
top:13vh;
left:2vw;
padding:19px 16px;

}



div.color{
position:fixed;
top:13vh;
right:2vw;
padding:19px 16px;


}

.filter i , .color i{
margin-right:11px;
}

.color i{
margin-left:11px;
}



.graph i{
margin-right:14px;
}

.filter .i{
color:rgb(255, 61, 93);
}

.chart{
margin-right:3vw;
}

.chart i{
margin-right:14px;
}


.toggle{

visibility:hidden;

}

.togglecolor{

 color:rgb(255, 61, 93);

}

.item{
padding-top:13px;


}





}


@media (min-width:200px) and (max-width:310px)
{

.img{
font-size: 14px;
}
}

@media (max-width:282px)
{

    button{
    margin-top:44px;
    font-size:16px;
    padding:12px 44px;
    }

}

@media(max-width:300px)
{

    .nav{
        font-size: 14px;
    }

    div.filter{ 
top:12vh;
left:1vw;
padding:16px 13px;
font-size: 16px;

}



div.color{
top:12vh;
right:1vw;
padding:16px 13px;
font-size: 16px;

}




}


@media(max-width:282px)
{



.d_con h3{

font-size: 16px;

}

button{
    float:right;
    margin-top: -44px;
    z-index:1;
    color:white;
    font-size: 15px;
    padding:10px 14px;
}



}



@media(max-width:240px)
{



.img{
display: none;
}

div.filter{ 
top:11vh;
padding:8px 5px;

}



div.color{
top:11vh;
padding:8px 5px;

}


}


.container {
    margin: 4px;
    padding: 2px 3px;
    border-radius: 4px;
    margin-top: 13vh;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1px;
    
}

.container{
    
    text-align: center;
}
        .container .div{
            padding:24px 44px;
            background: white;
            width:41.5vw;
            /* box-shadow: rgba(63, 63, 63, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
            box-shadow: rgba(134, 133, 133, 0.1) 0px 1px 3px 0px, rgba(134, 133, 133,  0.06) 0px 1px 2px 0px;
    
            border-radius:4px;
            display: flex;
            justify-content: center;
            
            align-items: center;
        }

        .container .div div{
            width:60%;
        }

        .container .div1{
            padding:24px 44px;
            background: white;
            width:90vw;
            /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
            box-shadow: rgba(134, 133, 133, 0.1) 0px 1px 3px 0px, rgba(134, 133, 133,  0.06) 0px 1px 2px 0px;
    
            border-radius:4px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:2vh;
        }

        .container .div1 div{
            width:60%;
        }


         @media(max-width:600px)
        {

            .container {
            
            margin-top: 12vh;
            gap:1px;
            
               }

                    .container .div , .container .div1{
                    padding:14px 24px;
                    width:96vw;
                    margin-top:2vh;
                }

                .container .div div , .container .div1 div{
                    width:70%;
                }

       
     

        }

        


        @media(max-width:900px) and (min-width:601px)
        {

            .container {
            
            margin-top: 12vh;
            gap:1px;
            
               }

                    .container .div , .container .div1{
                    padding:14px 24px;
                    width:96vw;
                    margin-top:2vh;
                }

                .container .div div , .container .div1 div{
                    width:50%;
                }

       
     

        }


        @media(max-width:1400px) and (min-width:901px)
        {

                    
        .container {
           
            margin: auto;
            margin-top: 15vh;
            margin-bottom: 24px;
            gap:none;
            padding:0px 0px;
            
        }

        .container .div{
            padding:24px 44px;
            width:41vw;
        }

        .container .div div{
            width:60%;
        }

        .container .div1{
            padding:24px 44px;
            width:90vw;
            margin-top:4vh;
        }

        .container .div1 div{
            width:40%;
        }
      

        }


        @media(max-width:1499px) and (min-width:1401px)
        {

                    
        .container {
           
            margin: auto;
            margin-top: 16vh;
            margin-bottom: 24px;
            gap:none;
            padding:0px 0px;
            
        }

        .container .div{
            padding:24px 44px;
            width:41.5vw;
        }

        .container .div div{
            width:60%;
        }

        .container .div1{
            padding:24px 44px;
            width:91vw;
            margin-top:4vh;
        }

        .container .div1 div{
            width:40%;
        }
      

        }

        @media(max-width:1200px) and (min-width:901px)
        {

                    
        .container {
           
            margin: auto;
            margin-top: 15vh;
            margin-bottom: 24px;
            gap:none;
            padding:0px 0px;
            
        }

        .container .div{
            padding:24px 44px;
            width:38vw;
        }

        .container .div div{
            width:60%;
        }

        .container .div1{
            padding:24px 44px;
            width:87vw;
            margin-top:3vh;
        }

        .container .div1 div{
            width:40%;
        }
      

        }

        @media(max-width:500px)
        {

        
                .container .div div , .container .div1 div{
                    width:99%;
                }

        }
